body {
    background-color: black;
    font-family: 'calibri', sans-serif;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.weather-header{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 5px solid white;
}

.jumbotron {
    width:96%;
    background-color:black;
    border-style: groove;
    margin-top: 10px;
}

.col-lg-3{
    background-color: black;
    margin-top: 10px;
    border-style: groove;
}

h4{
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'calibri', sans-serif;
    padding: 10px;
}

.btn-primary{
    border-style: groove;
    background-color:rgb(143, 141, 141);
    border-color: grey;
}
.btn-primary:hover{
    color: black;
    background-color: gray;
    border-color: gray;
}

.search-button{
    border-style: groove;
    background-color:rgb(143, 141, 141);
    border-color: grey;
}

#forecast-title{
    width: 96%;
    background-color: black;
    font-family: 'calibri', sans-serif;
    color: white;
    text-align: center;
}
.card-body{
    background-color: black;
    padding: 15px;
}
.card-black{
    border-style: groove;
}
.form-control{
    padding-right: 80px;
}
#recent-searches {
    width: 18rem;
}

.list-group-item:hover {
    color:darkgray;
}